<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Impresoras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Impresoras disponibles</ion-label>
    <ion-select [(ngModel)]="printSeleccionada">
      <ion-select-option *ngFor="let impresora of impresoras; let i = index" [value]=impresora.address>
        {{ impresora.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button fill="solid" (click)="selectDevice()">Seleccionar Impresora</ion-button>
  <br>
  <ion-button fill="solid" (click)="imprimirTicket()">Imprimir</ion-button>
</ion-content>